@* @model List<UserListViewModel> *@
    @model PaginationViewModel<UserListViewModel>

<div style="display:flex; justify-content:space-between; margin-bottom:10px;">
    <div>
        Total Records: @Model.TotalCount
    </div>

    @* <div>
        Show

        <select id="pageSize" onchange="currentPageSize=this.value; loadUsers($('#userSearch').val(),1)" class="btn btn-warning">

            <option value="3" selected="@(Model.PageSize == 3)" class="btn btn-success">3</option>
            <option value="5" selected="@(Model.PageSize == 5)" class="btn btn-danger">5</option>
            <option value="10" selected="@(Model.PageSize == 10)" class="btn btn-dark">10</option>
            <option value="20" selected="@(Model.PageSize == 20)" class="btn btn-primary">20</option>
            <option value="50" selected="@(Model.PageSize == 50)" class="btn btn-primary">50</option>
        </select>
        entries
    </div> *@
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Subject/RollNumber</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model.Items)
        {
            <tr>
                <td>@u.FullName</td>
                <td>@u.Email</td>
                <td>@u.PhoneNumber</td>
                <td>@u.UserType</td>
                <td>
                    @if (u.UserType == "Teacher")
                    {
                        <span>@u.SubjectName</span>
                    }
                    else if (u.UserType == "Student")
                    {
                        <span>@u.RollNumber</span>
                    }
                    else
                    {
                        <span>---</span>
                    }
                </td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="editUser('@u.UserId','@u.UserType')">Edit</button>
                    @if (string.IsNullOrEmpty(u.SubjectName))

                    {
                        <button class="btn btn-sm btn-danger" onclick="deleteUser('@u.UserId','@u.UserType')">Delete</button>
                    }
                    else
                    {
                        <span class="badge bg-success">
                            Assigned
                        </span>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                @* <a href="javascript:void(0);"
                   class="page-link"
                   onclick="loadUsers($('#userSearch').val(), @i)">
                    @i
                </a> *@
                <a href="javascript:void(0);"
                   class="page-link"
                   onclick="applyFilters(@i)">
                    @i
                </a>

            </li>
        }
    </ul>
</nav>