@* @model List<TeacherListViewModel> *@
@model PaginationViewModel<TeacherListViewModel>
@* <div style="display:flex; justify-content:space-between; margin-bottom:10px;">
    <div>
        Total Records: @Model.TotalCount
    </div>

    <div>
        Show
        <select id="pageSize"
                onchange="LoadTeachers($('#teacherSearch').val(),1)">
            @foreach (var size in new[] {1,2, 3, 5, 10, 20 })
            {
                <option value="@size" selected="@(Model.PageSize == size)" class="btn btn-toolbar">
                    @size
                </option>
            }
        </select>
        entries
    </div>
</div> *@
<div class="d-flex justify-content-between align-items-center mb-3">

    <div class="fw-semibold">
        Total Records: @Model.TotalCount
    </div>

    <div class="d-flex align-items-center gap-2">
        <label class="mb-0">Show</label>

        <select id="pageSize"
                class="form-select form-select-sm w-auto"
                onchange="LoadTeachers($('#teacherSearch').val(),1)">
            @foreach (var size in new[] { 3, 5, 10, 20 })
            {
                <option value="@size" selected="@(Model.PageSize == size)">
                    @size
                </option>
            }
        </select>

        <span>entries</span>
    </div>

</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
            <th width="150">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model.Items)
        {
            <tr>
                <td>@t.FullName</td>
                <td>@t.Email</td>
                <td>@t.PhoneNumber</td>
                <td>@t.SubjectName</td>
                <td>

                    <button class="btn btn-sm btn-warning"
                            onclick="editTeacher('@t.UserId')">
                        Edit
                    </button>

                    @if (t.SubjectId == null)
                    {
                        <button class="btn btn-sm btn-danger"
                                onclick="deleteTeacher('@t.UserId')">
                            Delete
                        </button>
                    }
                    else
                    {
                        <span class="badge bg-success">
                            Assigned
                        </span>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a href="javascript:void(0);"
                   class="page-link"
                   onclick="LoadTeachers($('#teacherSearch').val(), @i )">
                    @i
                </a>
            </li>
        }
    </ul>
</nav>
