@* @model List<SchoolManegementNew.Models.SubjectListViewModel> *@
    @model PaginationViewModel<SubjectListViewModel>
@*     <div style="display:flex; justify-content:space-between; margin-bottom:10px;">
    <div>
        Total Records: @Model.TotalCount
    </div>

    <div>
        Show
      
        <select id="pageSize" onchange="currentPageSize=this.value; LoadSubjects($('#subjectSearch').val(),1)" class="btn btn-warning">
          
            <option value="3" selected="@(Model.PageSize == 3)" class="btn btn-success">3</option>
            <option value="5" selected="@(Model.PageSize==5)" class="btn btn-danger">5</option>
            <option value="10" selected="@(Model.PageSize==10)" class="btn btn-dark">10</option>
            <option value="20" selected="@(Model.PageSize==20)" class="btn btn-primary">20</option>
            <option value="50" selected="@(Model.PageSize == 50)" class="btn btn-primary">50</option>
        </select>
        entries
    </div>
</div> *@

<div class="d-flex justify-content-between align-items-center mb-3">

    <div class="fw-semibold">
        Total Records: @Model.TotalCount
    </div>

    <div class="d-flex align-items-center gap-2">
        <label class="mb-0">Show</label>

        <select id="pageSize"
                class="form-select form-select-sm w-auto"
                onchange="LoadSubjects($('#subjectSearch').val(),1)">
            @foreach (var size in new[] { 3, 5, 10, 20 })
            {
                <option value="@size" selected="@(Model.PageSize == size)">
                    @size
                </option>
                @* <option value="@size" selected=" @(Model.PageSize == size ? "selected" : "")">
                    @size
                </option> *@
            }
        </select>

        <span>entries</span>
    </div>

</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Subject Name</th>
            <th width="150">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model.Items)
        {
            <tr>
                <td>@s.Name</td>
                <td>
                    <button class="btn btn-sm btn-warning"
                            onclick="editSubject(@s.Id)">
                        Edit
                    </button>
                    
                    @if (s.IsAssigned){
                    

                        <span class="badge bg-success">Assigned</span>
                    }
                    
                    else
                    {
                       
                        <button class="btn btn-sm btn-danger"
                                onclick="deleteSubject(@s.Id)">
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a href="javascript:void(0);"
                   class="page-link"
                   onclick="LoadSubjects($('#subjectSearch').val(), @i)">
                   @i
                </a>
            </li>
        }
    </ul>
</nav>