@model List<SchoolManegementNew.Models.StudentSimpleViewModel>
@{
    int sum = 0;
    int count = 0;
}

@foreach (var s in Model)
{

   
        sum = sum + s.MarksObtained;
    count++;

    <tr>
        @* <td>@s.FullName</td>
        <td>@s.RollNumber</td> *@
        <td>@s.SubjectName</td>
        <td>
            @if (s.MarksObtained == null)
            {
                <span class="text-muted">Not Assigned</span>
            }
            else
            {
                <strong>@s.MarksObtained / @s.MaxMarks</strong>
            }
        </td>
     

        @* <td>
            @if (s.MarksRowExists == null)
            {
                <button class="btn btn-sm btn-primary"
                        onclick="openMarks('@s.StudentUserId')">
                    Assign Marks
                </button>
            }
            else
            {
                <button class="btn btn-sm btn-warning"
                        onclick="openMarks('@s.StudentUserId')">
                    Update Marks
                </button>
            }
        </td> *@


    </tr>
 
}
@{
    double percentage = 0;

    if (sum > 0)
    {
        percentage = (double)sum / count;
    }
}
<tr class="fw-bold bg-light">
    <td>Total Marks</td>
    <td>@sum</td>
</tr>
<tr class="fw-bold bg-light">
    <td>Percentage</td>
    <td>@percentage%</td>
</tr>

